$qty_color: #193193;

div{
  .qty{
          width: 40px;
          height: 35px;
          text-align: center;
          border: 0;
          border-top: 1px solid $qty_color;
          border-bottom: 1px solid $qty_color;
  }
  .input{
    
      .qtyplus {
            width: 25px;
            height: 35px;
            border: 1px solid $qty_color;
            background: #f8f8f8;
        }
        .qtyminus {
            width: 25px;
            height: 35px;
            border: 1px solid $qty_color;
            background: #f8f8f8;
        }
    }
  
}